<%-include('header')-%>

<div class="container mt-3">
    <h2>Login Form</h2>
    <form action="/login" method="post" class="col-md-6">
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email: </label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="pwd" class="form-label">Password: </label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" onclick="togglePassword()"> Show Password
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="belowFormData">
      <p>Forgot Password, <a href="/reset_link" class="passResetOption">Reset</a></p>
      <p>Do not have an account, <a href="/register" class="newuserOption">Create New</a></p>
    </div>
</div>
    
<%-include('footer')-%>