<%-include('header')-%>

<div class="container mt-3">
    <h2>New Password</h2>
    <form action="/reset" method="post" class="col-md-6">
      <div class="mb-3 mt-3">
        <label for="pwd" class="form-label">Password: </label>
        <input type="password" class="form-control" id="password" placeholder="Enter new password" name="password" required>
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" onclick="togglePassword()"> Show Password
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<script>
  // toggle password show
  function togglePassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
    }
</script>
    
<%-include('footer')-%>