<%-include('header')-%>

<div class="container mt-3">
    <h2>Registration Form</h2>
    <form action="/newuser" method="post" class="col-md-6">
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email: </label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="mb-3 mt-3">
        <label for="fname" class="form-label">First Name: </label>
        <input type="text" class="form-control" id="fname" placeholder="Enter first name" name="firstname" required>
      </div>
      <div class="mb-3 mt-3">
        <label for="lname" class="form-label">Last Name: </label>
        <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lastname" required>
      </div>
      <div class="mb-3 mt-3">
        <label for="location" class="form-label">Location: </label>
        <input type="text" class="form-control" id="location" placeholder="Enter your location" name="location" required>
      </div>
      <div class="mb-3">
        <label for="pwd" class="form-label">Password: </label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" onclick="togglePassword()"> Show Password
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="belowFormData">
      <p>Already have an account, <a href="/login" class="userloginOption">Login</a></p>
    </div>
</div>
    
<%-include('footer')-%>