<%-include('header')-%>

<div class="container mt-3">
    <h2>Password Reset Form</h2>
    <form action="/reset_pass" method="post" class="col-md-6">
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email: </label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
     
      <button type="submit" class="btn btn-primary">Get reset link</button>
    </form>

    <div class="belowFormData">
      <p><a href="/login" class="userloginOption">Back to Login</a></p>
    </div>
</div>
    
<%-include('footer')-%>